.mask{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.2s ease;
    transition: background 0.4s ease;

    &.active{
        background: rgba(0, 0, 0, 0.9);
        z-index: 4;
    }
}